= link_to 'New', new_device_path, class: 'btn btn-primary btn-lg model-new-top-button pull-right'

- if @devices.blank?
  %h3 No Devices
- else
  %ul#mainTab.nav.nav-tabs
    %li.active
      %a{href: '#tab1', data: { toggle: 'tab' } } Index
  .tab-content
    #tab1.tab-pane.active
      %br

      .row
        %br
        .col-md-12.text-center
          -# = page_entries_info @activated_discounts, entry_name: 'Blanket Discounts'
      %table#table-example.table.table-hover.no-footer{:role => "grid"}
        %thead
          %tr{role: "row"}
            %th Title
            %th IP Address
            %th
        %tbody
          - @devices.each do |device|
            .row
              %tr.odd{role: "row"}
                %td= device.name
                %td= device.ip_address


      %div.pull-right
        -# = paginate(@activated_discounts)
