-# #metro-array.col-md-12{:style => "display: inline-block;"}
-#   %div{:style => "width: 230px; height: 230px; float: left; transform-style: preserve-3d;"}
-#     %a.metro-tile{href: '/lights', :style => "cursor: pointer; width: 230px; height: 110px; display: block; background-color: deepSkyBlue; color: #fff; margin-bottom: 10px;"}
-#       Lights
-#     %a.metro-tile{href: '/lights', :style => "cursor: pointer; width: 230px; height: 110px; display: block; background-color: deepSkyBlue; color: #fff; margin-bottom: 10px;"}
-#       Lights
-#     %a.metro-tile{href: '/lights', :style => "cursor: pointer; width: 230px; height: 110px; display: block; background-color: deepSkyBlue; color: #fff; margin-bottom: 10px;"}
-#       Lights


  -# =link_to registrations_path, class: "btn btn-lg btn-default col-md-4 panel panel-default" do
    .panel-parent
      .panel-container.inline-container
        =fa_icon "car"
      .panel-font.inline-container My Cars

  -# =link_to config_settings_path, class: "btn btn-lg btn-default col-md-4 panel panel-default" do
    .panel-parent
      .panel-container.inline-container
        =fa_icon "cog"
      .panel-font.inline-container Settings

  -# =link_to open_gate_devices_path, class: "btn btn-lg btn-default col-md-4 panel panel-default" do
    .panel-parent
      .panel-container.inline-container
        =fa_icon "times"
      .panel-font.inline-container Open Gate



#metro-array.col-md-12{:style => "display: inline-block;"}
  / Simple grid for the demo! None of these styles are required, thats just how I've styled my tiles
  / The only important thing is class="metro-tile"
  %div.col-md-3.pull-left
    %a.metro-tile{href: '/lights', :style => "cursor: pointer; width: 230px; height: 110px; display: block; background-color: deepSkyBlue; color: #fff; margin-bottom: 10px;"}
      Lights
      .fa.fa-4x.fa-lightbulb

    %a.metro-tile{href: '/registrations',:style => "cursor: pointer; width: 230px; height: 110px; display: block; background-color: deepSkyBlue; color: #fff;"}
      Registrations
  %div.col-md-3.pull-left
    %a.metro-tile{href: '/devices/open_gate',:style => "cursor: pointer; width: 230px; height: 230px; display: block; background-color: deepSkyBlue; color: #fff"}
      Open Gate
  %div.col-md-3.pull-left
    %a.metro-tile{href: '/devices',:style => "cursor: pointer; width: 230px; height: 110px; display: block; background-color: deepSkyBlue; color: #fff; margin-bottom: 10px;"}
      Devices
    %a.metro-tile{href: '/config_settings',:style => "cursor: pointer; width: 110px; height: 110px; margin-right: 10px; display: block; float: left; background-color: deepSkyBlue; color: #fff;"}
      Settings
    %a.metro-tile{:style => "cursor: pointer; width: 110px; height: 110px; display: block; background-color: deepSkyBlue; float: right; color: #fff;"}
      tiles




-# .col-md-12
-#   =link_to lights_path, class: "btn btn-lg btn-default col-md-4 panel panel-default " do
-#     .panel-parent
-#       .panel-container.inline-container
-#         =fa_icon "twitter"
-#       .panel-font.inline-container Light
-#
-#   =link_to registrations_path, class: "btn btn-lg btn-default col-md-4 panel panel-default" do
-#     .panel-parent
-#       .panel-container.inline-container
-#         =fa_icon "car"
-#       .panel-font.inline-container My Cars
-#
-#   =link_to config_settings_path, class: "btn btn-lg btn-default col-md-4 panel panel-default" do
-#     .panel-parent
-#       .panel-container.inline-container
-#         =fa_icon "cog"
-#       .panel-font.inline-container Settings
-#
-#   =link_to open_gate_devices_path, class: "btn btn-lg btn-default col-md-4 panel panel-default" do
-#     .panel-parent
-#       .panel-container.inline-container
-#         =fa_icon "times"
-#       .panel-font.inline-container Open Gate

= javascript_include_tag "tileJs"
= stylesheet_link_tag "style"

:css
  a {
    font-style: initial;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 20px;
  }

  a:hover {
    text-decoration: none;
  }
