- content_for :channels do
  = javascript_include_tag 'channels/channels'
%table.table
  %thead
    %th Name
    %th
    %th Power
  %tbody
    = render partial: "light", locals: { light: @light, index: 1 }

=javascript_include_tag "light_request"
